/* Shameless stylesheet reuse from my other projects, >w<  */

:root {
  --website-header-height: 62px;
  --background-color: rgb(1, 10, 10);
  --secondary-background-color: rgb(1, 30, 30);
  --color: white;
  --scrollbar-color: rgb(1, 10, 10);
  --color-opacity-20: rgb(0, 0, 0, 0.2);
  --accent-color: rgb(39, 221, 221);
  --accent-color-opacity-20: rgb(39, 221, 221, 0.2);
  --accent-color-opacity-50: rgb(39, 221, 221, 0.5);
  --accent-color-opacity-75: rgb(39, 221, 221, 0.75);
}

.hljs-number, .hljs-string {
  color: var(--accent-color) !important;
}

.hljs-punctuation {
  color: var(--color) !important;
}

.accordion {
  --bs-accordion-bg: var(--secondary-background-color) !important;
  --bs-accordion-border-width: 0 !important;
  --bs-accordion-border-radius: 4px !important;
}

.form-control {
  background-color: var(--background-color) !important;
}

.list-group {
  --bs-list-group-bg: var(--background-color) !important;
}

.input-group-text {
  background-color: var(--secondary-background-color) !important;
}

.table, .table-dark {
  --bs-table-bg: transparent !important;
}

html, body {
  background-color: var(--background-color);
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--accent-color) var(--scrollbar-color);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-color);
}

.text-decoration-none {
  text-decoration: none;
}

.hover-dim {
  background-color: inherit;
  transition: background-color 250ms;
}

.hover-dim:hover {
  background-color: var(--color-opacity-20) !important;
}

.hover-underline {
  border-bottom: 1px solid transparent;
  transition: border-bottom 250ms;
}

.hover-underline:hover {
  border-bottom: 1px solid var(--color);
}

.border-accent {
  border-top-color: var(--accent-color) !important;
  border-left-color: var(--accent-color) !important;
  border-bottom-color: var(--accent-color) !important;
  border-right-color: var(--accent-color) !important;
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-accent-20 {
  background-color: var(--accent-color-opacity-20);
}

.fs-tiny {
  font-size: 0.75rem;
}

.container-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 3fr 9fr;
}

#aside-parent {
  display: block;
  height: calc(100vh - var(--website-header-height));
  position: sticky;
  top: var(--website-header-height);
}

body {
  padding-right: 0 !important;
}